[Desktop Entry]
Type=Application
Name=NSL Decky Plugin
Name[en_US]=NSL Decky Plugin
Comment=
Comment[en_US]=
GenericName=
GenericName[en_US]=
Exec=/bin/bash -c 'curl -Ls https://raw.githubusercontent.com/moraroy/NonSteamLaunchers-On-Steam-Deck/refs/heads/main/NSLPluginInstaller.sh | bash'
Icon=uav
MimeType=
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
